In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('budget_data.csv')
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [9]:
#Set the date as the index to the Dataframe 

df.set_index(pd.to_datetime(df['Date'], infer_datetime_format = True), inplace=True)
df.head()

                Date  Profit/Losses
Date
2010-01-01  Jan-2010         867884
2010-02-01  Feb-2010         984655
2010-03-01  Mar-2010         322013
2010-04-01  Apr-2010         -69417
2010-05-01  May-2010         310503

In [11]:
#Drop the Extra Date Column 

df.drop(columns=['Date'], inplace=True)
df.head()

            Profit/Losses
Date
2010-01-01         867884
2010-02-01         984655
2010-03-01         322013
2010-04-01         -69417
2010-05-01         310503

In [13]:
#Calculate the total number of months included in the dataset 

month_count = len(df)
print(month_count)

86

In [44]:
#Calculate the total amount of Profit/Losses over the entire period 

total_profit = round(df['Profit/Losses'].sum(),2)
print(total_profit)

38382578

In [29]:
#Calculate the greatest increase in profits (date and amount) over the entire period 
#Calculate the greatese loss (date and amount) over the entire period 
#Calculate the average of the changes in Profit/Losses over the entire period 

#Step 1 - Create new column in dataframe that takes the change in profits from one month to the next 
mom_change = df - df.shift(1)
mom_change.head()

            Profit/Losses
Date
2010-01-01            NaN
2010-02-01       116771.0
2010-03-01      -662642.0
2010-04-01      -391430.0
2010-05-01       379920.0

In [31]:
#Step 2: The average changes in Profit/Losses over the entire time period 

average_change = round(mom_change['Profit/Losses'].mean(),2)
print(average_change)

-2315.12

In [49]:
#Step 3: The greatest increase in profits (date and amount) over the entire period 

max_change_amount = mom_change['Profit/Losses'].max()
print(max_change_amount)

max_change_month = mom_change['Profit/Losses'].idxmax()
print(max_change_month)

1926159.0
2012-02-01 00:00:00

In [61]:
#Step 4: The greatest decrease in losses (date and amount) over the entire period 

min_change_amount = round(mom_change['Profit/Losses'].min(),2)
print(min_change_amount)

min_change_month = mom_change['Profit/Losses'].idxmin()
print(min_change_month)

-2196167.0
2013-09-01 00:00:00

In [57]:
#Final output 

print(f"Financial Analysis")
print(f"----------------------------")
print(f"Total Months: {month_count}")
print(f"Total: ${total_profit}")
print(f"Average Change: ${average_change}")
print(f"Greatest Increase in Profits: {max_change_month} (${max_change_amount})")
print(f"Greatest Decrease in Profits: {min_change_month} (${min_change_amount})")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: 2012-02-01 00:00:00 ($1926159.0)
Greatest Decrease in Profits: 2013-09-01 00:00:00 ($-2196167.0)